body { margin: 0; padding: 0; }

.container { width: 1600px; text-align: center; }

.start { margin: 20px; }

#rock, #paper, #scissors { display: inline-block; width: 150px; height: 80px; border-radius: 10px; background-color: green; border: 2px solid red; font-size: 20px; color: aqua; line-height: 40px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; }

#result, #output, #rounds-to-win { padding: 20px; font-size: 20px; }

#game-over { padding: 20px; font-size: 40px; font-weight: bold; color: red; }

#new-game { display: block; margin: 0 auto; padding-bottom: 20px; font-size: 40px; width: 300px; height: 80px; line-height: 80px; font-weight: bold; border-radius: 10px; background-color: lightblue; border: 2px solid red; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; }
